<div class="app">
    <h1>Hi, Paul!</h1>
    <hr>

    <div class="server">
        <label>Server Name: </label>
        <input type="text" [(ngModel)]="name">

        <label>Server Location: </label>
        <input type="text" [(ngModel)]="location">

        <label>Server IP Address: </label>
        <input type="text" [(ngModel)]="ipAddress">

        <button (click)="generateNewServer()">Generate Server</button>
    </div>

    <hr>

    <div class="serverList">
        <h2>Server List:</h2>
        <p *ngIf="serverList.length == 0">No servers exist</p>
        <h4 *ngIf="serverList.length > 0">Active servers: {{ serverList.length }}</h4>
        <hr>
        <div *ngFor="let servers of serverList">
            <app-server></app-server>
            <hr>
        </div>
    </div>
</div>